body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgreen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  background-color: rgb(25, 136, 22);
  margin-top: 10%;
}

#elegir li {
  list-style: none;
  
}
#titulo1{
  text-align: center;
  font-family: 'Butterfly Kids', cursive;
font-family: 'Nerko One', cursive;
}
h2{
  text-align: center;
  font-family: 'Butterfly Kids', cursive;
font-family: 'Nerko One', cursive;
}
ul{
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
  
}
.img{
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px rgb(5, 5, 5);
  -moz-box-shadow: 2px 2px 5px rgb(0, 0, 0);
  margin: 2%;
}


@media (max-width: 810px) {
  
.img{
  width: 70px;
  height: 70px;
  
}
#root{
  margin-top: 0;
}
}
@media (max-width: 480px) {
  
  ul{
    display: block;
  }
  .img{
    width: 100px;
    height: 100px;
    
  }
  }